[submodule "ecoride-backend-platform/ecoride-config-server"]
        path = ecoride-config-server
        url = https://github.com/nehara-peiris/ecoride-config-server.git
[submodule "ecoride-backend-platform/ecoride-service-registry"]
        path = ecoride-service-registry
        url = https://github.com/nehara-peiris/ecoride-service-registry.git
[submodule "ecoride-backend-platform/ecoride-api-gateway"]
        path = ecoride-api-gateway
        url = https://github.com/nehara-peiris/ecoride-api-gateway.git
[submodule "ecoride-config-server"]
	path = ecoride-config-server
	url = https://github.com/nehara-peiris/ecoride-config-server.git
[submodule "ecoride-service-registry"]
	path = ecoride-service-registry
	url = https://github.com/nehara-peiris/ecoride-service-registry.git
[submodule "ecoride-api-gateway"]
	path = ecoride-api-gateway
	url = https://github.com/nehara-peiris/ecoride-api-gateway.git
